<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    .tabledata{
      border-radius: 2px;
      border-color:black;

    }
  </style>
</head>
<body>
  <table border="1">
    <tr>
      <th>S.N. </th>
      <th>Name </th>
      <th>Email </th>
      <th>Contact No.</th>

    </tr>
    <tr>
     <td>1</td>
     <td>Latanshi</td>
     <td>latanshisnehi@gmail.com</td>
     <td>9876543219</td>
    </tr>
    <tr>
     <td>2</td>
     <td>Urvashi</td>
     <td>urvashi@gmail.com</td>
     <td>9876543219</td>
    </tr>
    <tr>
     <td>3</td>
     <td>vaishali</td>
     <td>vaishali@gmail.com</td>
     <td>9876543219</td>
    </tr>


  </table>

</body>
</html>