<form  method="post" action="../AddJob" id="about">
     
        
              <p>Job Designation:</p>{{i.Job_Desigation}}

              
            
              <p>Start Date</p><br>{{i.dob}}

              
            

            
                    
     
              <p>Job Description:</p>{{i.Job_Description}}


              
              
            
             
                <p>End Date</p><br>{{i.end_date}}
                
             
              Mobile No.
            
            {{i.contact}}
            
          
        
            image <img src='/media/{{i.images}}' alt="...">

           {{i.image}}
                
                
                   <p>Eligiblity</p>{{i.eligibility}}
                
                      <p>skills:</p>{{i.skills}}
                    
                     <p>stream:</p>{{i.stream}}
                </form>